:root {
  --dark: #374152;
  --darker: #1f2931;
  --darkest: #111827;
  --grey: #6b7280;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --light: #eee;
  --button: #535c6d;
  --button-hover: #a6afc2;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: #fff;
  background-color: var(--dark);
  justify-content: center;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  padding: 0rem 1rem;
  padding-top: 1rem;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.header-content {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 300;
  justify-content: center;
  color: var(--grey);
}

.add-task-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: var(--button);
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.add-task-icon:hover {
  background-color: var(--button-hover);
  color: var(--light);
}

.add-task-icon {
  margin-left: 10px;
}

.header-content h2 {
  margin-top: 0;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: var(--darker);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: fit-content;
  border-radius: 10px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Close button for the modal */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.delete
 {
  background-color: #a13a33;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.cancel{
  background-color: #4b4e53;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.delete:hover,
.cancel:hover {
  background-color: #d32f2f;
}

#new-task-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 2rem;
  background-color: var(--darker);
  border-radius: 1rem;
}

#new-task-form label {
  font-size: 1rem;
  color: var(--grey);
  margin-bottom: 0.5rem;
}

#new-task-form input[type="text"],
#new-task-form input[type="date"],
#new-task-form textarea,
#new-task-form input[type="datetime-local"] {
  background-color: var(--darkest);
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid var(--darker);
  color: var(--light);
  font-size: 1rem;
  margin-bottom: 1rem;
  font-family: "Fira sans", sans-serif;
}

#new-task-form input[type="text"]::placeholder,
#new-task-form textarea::placeholder,
#new-task-form input[type="datetime-local"]::placeholder {
  color: var(--dark);
}

#new-task-form input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(0.8);
}

#new-task-form input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}

#new-task-form #new-task-submit {
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 700;
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  cursor: pointer;
  border: none;
  transition: 0.4s;
  border-radius: 4px;
  margin-right: 10px;
  margin: 0 auto;
  display: block;
}

#new-task-form #new-task-submit:hover {
  opacity: 0.8;
  background-color: var(--button-hover);
}

#new-task-form #new-task-submit:active {
  opacity: 0.6;
}

#reset-form {
  padding: 10px 15px;
  font-size: 1rem;
  width: 90px;
  background-color: var(--button);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  margin: 0 auto;
  display: block;
}

#reset-form:hover {
  background-color: var(--button-hover);
}

#reset-form:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

main {
  flex: 1 1 0%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

section h3 {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--grey);
  margin-bottom: 1rem;
}

.task-list {
  border-top: 1px solid var(--light);
  margin-top: 20px;
  padding-top: 20px;
}

#tasks .task {
  display: flex;
  justify-content: space-between;
  background-color: var(--darkest);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.task .content .text {
  color: var(--light);
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}

.task .content .text:not(:read-only) {
  color: var(--pink);
}

.task .actions {
  display: flex;
  margin-top: 10px;
}

.task .actions button {
  cursor: pointer;
  margin-left: 10px;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
  border-radius: 5px;
  padding: 5px 10px;
}

.task .actions button.edit,
.task .actions button.save {
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  color: var(--light);
}

.task .actions button.delete {
  background-color: crimson;
  color: white;
}

#task-table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}

#task-table th {
  background-color: var(--dark);
  color: var(--light);
  padding: 12px 8px;
  text-align: left;
}

#task-table td {
  padding: 12px 8px;
}

#task-table tr:nth-child(even) {
  background-color: var(--darker);
}

#task-table tr {
  border-bottom: 1px solid var(--darkest);
}

#task-table tr:last-child {
  border-bottom: none;
}

.task-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--light);
  flex-grow: 1;
}

.edit-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--light);
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  display: none;
  margin-bottom: 1rem;
}

.resizable-textarea {
  resize: both;
  overflow: auto;
  min-height: var(--min-height, 50px);
  max-height: var(--max-height, 50px);
  min-width: var(--min-width, 250px);
  max-width: var(--max-width, 300px);
}